body {
  font-family: cursive;
  background-color: #111;
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.7) 20%,
    transparent 20%
  );
  background-size: 40px 40px; /* Efek pola berulang */
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
  color: white;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
}

.pokemon-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  margin: 100px;
}

.pokemon-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.pokemon-card:hover {
  transform: scale(1.05); /* Efek pembesaran sedikit */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.pokemon-card img {
  width: 100%;
  display: block;
}

.pokemon-info {
  position: absolute;
  bottom: 0; /* Menyembunyikan konten di bawah kartu */
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(100%); /* Memulai dari posisi bawah */
  opacity: 0; /* Konten disembunyikan */
}

.pokemon-info p {
  font-size: 12px;
  padding: 5px; /* Menambahkan sedikit padding untuk keterbacaan */
}

.pokemon-card:hover .pokemon-info {
  opacity: 1;
  transform: translateY(0); /* Menampilkan informasi dengan animasi naik */
}

@keyframes gradientShift {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

/* style button */
.scroll-to-top {
  position: fixed; /* Posisi tetap pada layar */
  bottom: 20px; /* Menjaga jarak dari bawah */
  right: 20px; /* Menjaga jarak dari kanan */
  background-color: white; /* Warna latar belakang biru */
  color: black; /* Warna teks putih */
  border: 2px solid white; /* Menghapus border default */
  /* border-radius: 50%; Membuat tombol berbentuk bulat */
  padding: 15px; /* Padding agar tombol lebih besar */
  font-size: 20px; /* Ukuran font untuk ikon */
  cursor: pointer; /* Menunjukkan bahwa tombol dapat diklik */
  transition: background-color 0.3s ease; /* Animasi saat hover */
}

.scroll-to-top:hover {
  background-color: black; /* Warna saat hover */
  color: white; /* Warna saat hover */
}
