body {
  font-family: cursive;
  background-color: #111;
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.7) 20%,
    transparent 20%
  );
  background-size: 40px 40px;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
  color: white;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
}

.pokemon-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  margin: 100px;
}

.pokemon-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.pokemon-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.pokemon-card img {
  width: 100%;
  display: block;
}

.pokemon-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(100%);
  opacity: 0;
}

.pokemon-info p {
  font-size: 12px;
  padding: 5px;
}

.pokemon-card:hover .pokemon-info {
  opacity: 1;
  transform: translateY(0);
}

@keyframes gradientShift {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  color: black;
  border: 2px solid white;

  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
  background-color: black;
  color: white;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-btn {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

#page-number {
  font-size: 16px;
  margin: 0 10px;
}
